@tailwind base;
@tailwind components;
@tailwind utilities;

.button-layout {
  @apply h-[2.5rem] flex justify-center items-center rounded-[10px] w-[6rem] lg:w-[8rem] duration-300;
}

.text-omit {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.input-box {
  @apply flex relative items-center mt-[1.5rem];
}

.form-input {
  @apply focus:outline-none bg-GrayScale-10 rounded-[10px] text-[1.25rem] font-bold pl-4;
}

.input-text {
  @apply peer-focus:animate-InputHover absolute pl-4 text-[1.2rem] text-GrayScale-30 font-bold pointer-events-none;
}

.form-row {
  @apply flex md:flex-col lg:flex-row justify-between;
}

.history-content {
  @apply text-center text-[1.3rem] border-2 border-r-GrayScale-30 border-l-0 border-t-0 border-b-0;
}

.history-box {
  @apply w-[100%] h-[5rem] flex flex-row items-center border-r-0 border-l-0 border-t-0 border-b-GrayScale-30 border-2;
}

.profile-box {
  @apply w-[55%] h-[40%] border-GreenLight-30 border-2 rounded-[1.5rem] shadow-lg shadow-[#dfdfdf] bg-white;
}

.profile-modify-btn {
  @apply w-[15%] h-[2rem] bg-GrayScale-15 border-[0.03rem] text-center leading-[2rem] rounded-[0.5rem] mr-[3%] cursor-pointer hover:bg-GrayScale-20 duration-[0.2s];
}

.profile-info-box {
  @apply w-[70%] h-full flex flex-row items-center p-[3%] pl-[2%];
}

.profile-flex-box {
  @apply flex flex-row items-center justify-between;
}

.community-title {
  @apply flex justify-center items-center text-[1.1rem] font-bold;
}

.center {
  @apply flex justify-center items-center;
}

.header-dropdown {
  @apply h-[3.5rem] w-full flex justify-center items-center text-[1.1rem] font-bold cursor-pointer  hover:text-GrayScale-40;
}
