@tailwind base;
@tailwind components;
@tailwind utilities;

.button-layout {
  @apply h-full flex justify-center items-center rounded-[2rem];
}

.text-omit {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.input-box {
  @apply flex items-center mt-[1.5rem];
}

.form-input {
  @apply pl-2 focus:outline-none bg-GrayScale-10 rounded-[10px] text-[1.25rem] font-bold;
}

.input-text {
  @apply peer-focus:animate-InputHover absolute pl-2 text-[1.2rem] text-GrayScale-30 font-bold;
}

.form-row {
  @apply flex flex-row justify-between;
}

.history-content {
  @apply text-center text-[1.3rem] border-2 border-r-GrayScale-30 border-l-0 border-t-0 border-b-0;
}

.history-box {
  @apply w-full h-[5rem] flex flex-row items-center border-r-0 border-l-0 border-t-0 border-b-GrayScale-30 border-2;
}
